
html,body {
    height: 100%;
    width: 100%;
    margin: 0; /* убираем наружные отступы */
    padding: 0; /* убираем внутренние отступы */

}

#container {
    width: 100%;
    height: 100%;
}

#text{
    text-align: center;
    color: #07C;
    line-height: 1.3;
    margin-top: 4%;
    margin-bottom: 1.2em;
    font-size: 18px;
    font-weight: normal;
}

#text-left{
    text-align: left;
    margin-left: 5%;
    color: #000000;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.3;
    /*margin-bottom: 2%;*/
    font-size: 18px;
    font-weight: normal;
}

#banner{
    width: 100%;
    height: 5%;
    background-color: #000000;
    text-align:center;


}

#titleLink{
    text-decoration: none;
    font-family: proxima-nova,Helvetica Neue,Helvetica,sans-serif;
    text-decoration: none;
    /*font-weight: bold;*/
    color: ghostwhite;
    font-size: 24px;
    font-weight: 600;
    padding: 6px
}


#navigation{
    width: 100%;
    height: 10%;
}

#image-logo{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 2%;
    margin-top: 0.5%;
    background-repeat: no-repeat;
    background-image: url("./../images/logo.png"), none;
}

 ul.css-menu{
    list-style: none;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
}

ul.css-menu li {
    display: inline-block;

}
 ul.css-menu li a {
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    background-color: rgba(123, 123, 123, 0.84);
    font-weight: normal;
    color: ghostwhite;
    padding: 6px 10px 6px 10px
}

 ul.css-menu li a:hover {
    padding: 6px 10px 6px 10px;
    font-weight: normal;
    background-color: orange;
    color: ghostwhite;
}


#content {
    /*margin-left: 26%;*/
    clear: both;
    width: 100%;
    min-height: 77%;
    margin-top: 5%;
    /*height:50%;*/

}

#content-chart{
    margin-left: 5%;
    margin-bottom: 5%;
    width: 85%;
    overflow: auto;
}

#content-chart1{
    float: left;
    margin-left: 5%;
    width: 40%;
    overflow: auto;
}

#content-chart2{
    float: right;
    margin-right: 5%;
    width: 40%;
    overflow: auto;

}


#myBarChart{
    padding-left: 2%;
    padding-right: 2%;
}

#footer {
    margin-bottom: -2%;
    width: 100%;
    background-color: #000000;
    /*position: absolute;  устанавливаю абсолютное позиционирование для блока footer */
    clear: both;
}

#cvs{
    margin-left: 30%;
}