@(title: String,
  countPosts: String ,
  countPostsByType: collection.mutable.ArrayBuffer[(String, String)],
  avgCountPostsByTypeFromUsers: collection.mutable.ArrayBuffer[(String, String)]
  )

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/Chart.js")'></script>


        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.core.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.tooltips.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.dynamic.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.pie.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/excanvas.js")'></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/demos.css")">


    </head>

    <body>

        <div id="container">

            <div  id="banner">
                <a id="titleLink"  href="/">@title</a>
            </div>

            <div id="navigation">
                <div id="image-logo"></div>
                <ul class="css-menu">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Votes</a></li>
                    <li><a href="#">PostHistory</a></li>
                    <li><a href="#">Comments</a></li>
                    <li><a href="#">Tags</a></li>
                </ul>
            </div>

            <div  id="content">
                <script>
                var countPosts = @Html(countPosts)
                </script>
                <div id="text-left">Number of posts: <script> document.write(countPosts) </script></div>


                <script>
                var avg = @Html(avgCountPostsByTypeFromUsers.map(_._1).toArray.mkString("[",",","]"))
                </script>
                <div id="text-left">Average number of answers from user:   <script> document.write(avg[0]) </script></div>
                <div id="text-left">Average number of questions from user:  <script> document.write(avg[1]) </script> </div>


                <div id="text">Ratio of the existing answers to questions as a percentage</div>
                <div id="content-chart">
                    <canvas id="cvs" width="480" height="480"></canvas>
                    <script>
                    var myLabels = @Html(countPostsByType.map(_._2).toArray.mkString("['","','","']"))
                    var charData = @Html(countPostsByType.map(_._1).toArray.mkString("[",",","]"))

                    $(document).ready(function ()
                    {
                    var data     = charData;
                    var labels   = myLabels;

                    for (var i=0; i<data.length; ++i) {
                    labels[i] = labels[i] + ', ' + data[i] + '%';
                    }

                    var pie = new RGraph.Pie({
                    id: 'cvs',
                    data: data,
                    options: {
                    labels: labels,
                    tooltips: labels,
                    colors: ['#EC0033','#A0D300','#FFCD00','#00B869','#999999'],
                    strokestyle: 'white',
                    linewidth: 0,
                    shadow: {
                    offsetx: 2,
                    offsety: 2,
                    blur: 3
                    },
                    exploded: 7
                    }
                    }).draw()
                    })
                    </script>
                </div>
            </div>

            <div  id="footer">
                <h1>footer</h1>
            </div>

        </div>

    </body>
</html>
