@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/Chart.js")'></script>


        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.core.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.tooltips.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.common.dynamic.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/RGraph.pie.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/excanvas.js")'></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/demos.css")">


    </head>

    <body>

        <div id="container">

            <div  id="banner">
                <a id="titleLink"  href="/">@title</a>
            </div>

            <div id="navigation">
                <div id="image-logo"></div>
                <ul class="css-menu">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Votes</a></li>
                    <li><a href="#">PostHistory</a></li>
                    <li><a href="#">Comments</a></li>
                    <li><a href="#">Tags</a></li>
                </ul>
            </div>

            <div  id="content">




                <script>

                </script>

            </div>

            <div  id="footer">
                <h1>footer</h1>
            </div>

        </div>

    </body>
</html>
